li {
    padding: 5px;
    margin: 5px;    
}
  
.label {
    font-weight: bold;
}
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: #00ffc8;
}
  
.form-group {
    margin-bottom: 5px;    
}
  
html {
    height: 100vh;
    width: 100vw;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
}

h1 {
  color: rgb(158, 62, 62);
  font-family: fantasy;
}

h2 {
  margin-top: 25px;
}

h3 {
  padding-left: 80px;
  padding-right: 80px;
  margin: 40px;
  text-align: center;
}

#burgerimage {
  padding: 20px;
  width: 400px;
  height: 400px;
}

#test {
  text-align: center;
  margin-left: 10px;
  margin-bottom: 25px;
}

input {
  padding: 5px;
  border-color: rgb(158, 62, 62);
}

label {
  font-size: xx-large;
}